/* Event Page Styles */

h1 {
	text-transform: uppercase;
}

h1 span {
	font-variation-settings: "wght" 600, "wdth" 120, "ital" 10;
	text-transform: capitalize;
	vertical-align: top;
}

.subtitle {
	display: inline-block;
	padding: var(--md-space) var(--md-space) var(--sm-space) var(--md-space);
	border-top: 2px solid var(--color-black);
	border-bottom: 2px solid var(--color-black);
}

.subtitle h2 {
	font-variation-settings: "wght" 600, "wdth" 100, "ital" 0;
}

.subtitle p {
	text-transform: unset !important;
}

.subtitle em {
	font-variation-settings: "wght" 500, "wdth" 120, "ital" 0;
}

.subtitle .sc {
	font-variation-settings: "wght" 600, "wdth" 100, "ital" 0;
}

body.green #about h2,
body.green #about li::marker {
	color: var(--brand-color3);
}

body.orange #about h2,
body.orange #about li::marker {
	color: var(--brand-color2);
}

body.purple #about h2,
body.purple #about li::marker {
	color: var(--brand-color1);
}

#about {
	flex-flow: row wrap;
}

#about h2 {
	font-size: 1.5em;
	line-height: 1.25em;
	font-variation-settings: "wght" 500, "wdth" 100, "ital" 0;
	color: var(--brand-color3);
}

#about .columns {
	width: 100%;
	margin-top: var(--lg-space);
}

#about .columns ol {
	display: flex;
	max-width: unset;
	margin: 0;
	padding: 0;
}

#about .columns ol li {
	font-size: .9rem;
	min-width: 300px;
	margin: 0 var(--md-space);
}

#schedule h2 {
	font-variation-settings: "wght" 400, "wdth" 200, "ital" 0;
	text-transform: uppercase;
	position: relative;
}

.round-txt {
	font-variation-settings: "wght" 550, "wdth" 100, "ital" 0;
	text-transform: uppercase;
	white-space: nowrap;
	padding: var(--sm-space) var(--sm-space) var(--xs-space) var(--sm-space);
	border: 3px solid var(--color-black);
	border-radius: var(--lg-space);
	color: var(--color-black);
	position: relative;
	top: 25%;
}

#schedule .round-txt {
	background: var(--brand-color3);
}

.break {
	padding: 0 var(--md-space);
}

.break h3, .break p {
	display: inline-block;
	padding: 0;
}

.break h3 {
	padding-top: var(--xs-space);
	text-transform: uppercase;
}

.break + .card {
	border-top: 0px;
}

.topic h3 {
	line-height: 1.15em;
	padding-bottom: 0;
	padding-top: var(--lg-space);
}

.topic p {
	margin: 0;
}

.card h3 {
	width: 20%;
	font-variation-settings: "wght" 400, "wdth" 160, "ital" 0;
}

.panel h3 {
	width: 40%;
}

.details span {
	font-variation-settings: "wght" 400, "wdth" 100, "ital" 0;
}

.details em {
	font-variation-settings: "wght" 600, "wdth" 100, "ital" 0;
}


/* Standout Overrides */

#standout {
	padding: var(--lg-space) 0;
	margin-bottom: -40px;
	position: relative;
}

#standout.orange .bg {
	background: linear-gradient(0deg, var(--brand-color2) 0%, var(--brand-color4) 25%, var(--brand-color4) 75%, var(--brand-color2) 100%);
}

#forum #standout.orange .bg {
	background: var(--brand-color2);
}

#marathon #standout.purple .bg {
	background: var(--brand-color1);
}

#standout.orange .bg::before {
	background-image: url('../img/squiggle-border_orange.png');
}

#standout.orange .bg::after {
	background-image: url('../img/squiggle-border_orange-rev.png');
}

#standout.purple .bg {
	background: linear-gradient(0deg, var(--brand-color1) 0%, var(--brand-color4) 25%, var(--brand-color4) 75%, var(--brand-color1) 100%);
}

#standout.purple .bg::before {
	background-image: url('../img/squiggle-border_purple.png');
}

#standout.purple .bg::after {
	background-image: url('../img/squiggle-border_purple-rev.png');
}

#standout.green .bg {
	background: linear-gradient(0deg, var(--brand-color3) 0%, var(--brand-color4) 25%, var(--brand-color4) 75%, var(--brand-color3) 100%);
}

#standout .bg::before {
	bottom: 100px;
}

#standout .bg::after {
	top: calc(100% - 100px);
}

#standout img {
	border: 2px solid var(--color-black);
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 var(--md-space) var(--md-space) 0;
}

#standout.full img {
	width: 25%;
	border: unset;
}

#standout h3 {
	width: 100%;
	font-variation-settings: "wght" 600, "wdth" 140, "ital" 0;
	padding: 0 0 var(--md-space) 0;
}


/* Event Specific Styles */

/* Forum Page */

.conference, .reception {
	padding: var(--md-space);
}

/* Workshop Page */

#workshops .details {
	margin: unset;
}

#workshops .details em {
	font-variation-settings: "wght" 400, "wdth" 100, "ital" 0;
}

#workshops .sc {
	font-variation-settings: "wght" 600, "wdth" 100, "ital" 0;
}

#workshops .card {
	max-width: unset;
	display: block;
}

#workshops .card li {
	display: grid;
	grid-gap: var(--md-space);
}

#workshops .card li:not(:last-of-type) {
	border-bottom: 4px solid var(--color-black);
}

#workshops img {
	object-fit: cover;
  	width: 100%;
  	max-height: 100%;
}

#workshops .feature {
	grid-area: feature;
}

#workshops .headshot {
	grid-area: headshot;
}

#workshops .info {
	grid-area: info;
	display: flex;
	flex-flow: column nowrap;
	gap: var(--sm-space);
}

#workshops .description {
	grid-area: description;
	margin: unset;
}

#workshops div.feature {
	display: grid;
	place-items: center;
	background: var(--brand-color1);
	border: 4px solid var(--color-black);
}

#workshops div.feature span {
	color: var(--color-black);
	font-size: 8rem;
	font-variation-settings: "wght" 200, "wdth" 100, "ital" 0;
	animation: weight 5s linear infinite alternate;
}

#workshops .card h4 {
	padding-bottom: 0;
}

#workshops .card p:not(.details) {
	margin-top: var(--sm-space);
}

#workshops .card:last-of-type {
	padding-top: 0;
}

#workshops .card:last-of-type li:last-of-type {
	border-bottom: none;
}

#workshops .card:last-of-type {
	padding-top: var(--md-space);
}

#workshops .card:last-of-type li:last-of-type {
	border-bottom: none;
}

.tooltip {
	top: var(--sm-space);
	right: 0;
  	left: var(--sm-space);
}

.tooltiptext {
	visibility: visible;
	position: relative;
	left: 0;
  	top: 0;
  	padding: var(--sm-space) var(--sm-space) var(--xs-space) var(--sm-space);
}



/* Firm Crawl Page */

#firm-crawl h1 span {
	display: block;
}

#firm-crawl #schedule h2 {
	padding-bottom: var(--sm-space);
}

/* card overrides are due to .standout on parent, easier to do it this way */

#firm-crawl .card {
	padding-top: var(--xl-space);
}

#firm-crawl .card ul {
	width: 100%;
	max-width: unset;
}

#firm-crawl .card ul li {
	display: flex;
	padding: 0 0 var(--xl-space) 0;
}

#firm-crawl .card li:not(:last-of-type) {
	border-bottom: none;
}

#firm-crawl .card ul li div {
	width: 75%;
	padding: 0 var(--md-space) var(--lg-space) 0;
	margin-left: var(--lg-space);
	border-bottom: 1px solid var(--color-black);
}

#firm-crawl .card ul li div p {
	padding-bottom: var(--md-space);
	margin: 0;
}

#firm-crawl .card ul li img {
	object-fit: contain;
}

#firm-crawl .card:last-of-type li:last-of-type{
	border-bottom: none;
}

#firm-crawl .round-btn {
	top: 0;
}


/* Film Page */

#film #schedule iframe {
	position: relative;
	width: 70vw;
	height: 39.7vw;
	min-width: 350px;
	min-height: 160px;
	border: 4px solid var(--color-black);
	margin-bottom: var(--xl-space);
}



@media screen and (max-width: 1000px) {
	body {font-size: 14px}

	h1 {
		font-size: 4rem;
	}

	h1.shorter {
		font-size: 3rem;
	}

	h1 span {
		font-size: 1.5rem;
	}

	#about .text {width: 100%;}

	#about .image img {
		width: 100%;
		margin-bottom: var(--md-space);
	}

	#about .columns ol {
		flex-flow: column wrap;
	}

	#schedule h2 {
		font-size: 2rem;
	}

	.break {
		margin-bottom: var(--md-space);
	}

	.break h3 {
		width: 25%;
		font-size: .8rem;
		font-variation-settings: "wght" 450, "wdth" 120, "ital" 0;
		letter-spacing: 1px;
	}

	.topic h3 {
		font-size: 2.5rem;
	}

	.card h3 {
		padding: 0;
	}

	.card h4 {
		font-size: 2.25rem;
	}

	.card > img {
		width: 50%;
		height: auto;
		padding: var(--sm-space) 0;
	}

	.card ul {
		padding: var(--sm-space) 0 0 0;
	}

	#workshops ul.card li {
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"feature feature"
			"info headshot"
			"description description";
	}

	#workshops div.feature {
		height: 100%;
	}

	#standout.full .bg {
		margin: -100px -5.5% 0 -5.5%;
		height: 102%;
	}

	#film #standout .bg {
		height: 110%;
	}

	#standout.full img {
		margin: 0 0 var(--lg-space) var(--lg-space);
	}

	#firm-crawl .card ul li {
		flex-flow: column;
	}

	#firm-crawl .card ul li img {
		max-height: 100px;
		object-position: top left;
	}
}

@media screen and (min-width: 1000px) {
	h1 {
		font-size: 10rem;
	}

	h1.shorter {
		font-size: 5rem;
	}

	h1 span {
		font-size: 3rem;
	}

	#about .text {width: 39%;}

	#about .image {width: 59%;}

	#about .image img {
		width: 100%;
		padding: 0 var(--lg-space) var(--md-space) 0;
	}

	#about .columns ol {
		flex-flow: row wrap;
	}

	#about .columns ol li {
		max-width: 20%;
	}

	#schedule h2 {
		font-size: 3rem;
	}

	.break {
		margin-bottom: var(--lg-space);
	}

	.break h3 {
		width: 40%;
		font-size: 1.25rem;
		font-variation-settings: "wght" 400, "wdth" 160, "ital" 0;
		letter-spacing: 2px;
	}

	.topic h3 {
		font-size: 3rem;
	}

	.card h3 {
		padding-left: var(--md-space);
	}

	.card > img {
		object-fit: contain;
		object-position: top center;
		width: 20%;
		height: auto;
		padding: 0 var(--md-space) var(--md-space) 0;
	}

	#workshops ul.card li {
		grid-template-columns: 3fr 3fr minmax(100px, 1fr);
		grid-template-rows: auto;
		grid-template-areas: 
			"feature info headshot"
			"feature description description";
	}

	#workshops .card > img {
		width: 30%;
		height: auto;
		padding: 0;
	}

	#workshops div.feature {
		height: 50%;
	}

	#standout.full .bg {
		margin: -120px -22% 0 -22%;
		height: 106%;
	}

	#film #standout .bg {
		height: 112%;
	}

	#firm-crawl .card ul li {
		flex-flow: row nowrap;
	}

	#firm-crawl .card ul li img {
		max-width: 200px;
		max-height: 100px;
		object-position: top center;
	}
}

@media screen and (max-width: 700px) {
	h1 {
		font-size: 3rem;
	}

	h1.shorter {
		font-size: 2rem;
	}
}

@media screen and (min-width: 1500px) {
	#about .columns ol {
		justify-content: space-between;
	}
}

@media screen and (min-width: 2000px) {
	#standout .bg {
		margin: -120px -34% 0 -34% !important;
	}
}


@keyframes weight {
	0% {font-variation-settings: "wght" 200;}
	100% {font-variation-settings: "wght" 800;}
}